@font-face {
  font-family: LetterGothicStd;
  src: url('fonts/LetterGothicStd.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  background-color: black;
  box-sizing: content-box;
  font-family: LetterGothicStd;
}

/* PRE VIDEO SCREEN */
#acceptCam {
  background-color: grey;
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.ctr {
  display: flex;
  justify-content: center;
}

/* VIDEO SCREEN */
video {
  width: 100%;
}

.outer {
  position: relative;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: white;
  opacity: 0.5;
}

/* END SCREEN */
.text {
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  color: white;
}
