@font-face {
  font-family: LetterGothicStd;
  src: url('fonts/LetterGothicStd.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  background-color: black;
  box-sizing: content-box;
  font-family: LetterGothicStd;
}

video {
  min-width: 100%;
  min-height: 100%;
}

.text {
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  color: white;
}

video {
  width: 100vh;
}

.outer {
  position: relative;
  height: 100vh;
}

/* .box-top {
  top: 0px;
  position: absolute;
  background-color: yellow;
}

.box-tmid {
  top: 25%;
  position: absolute;
  background-color: red;
  width: 25%;
  height: 25%;
  z-index: 1;
}

.box-bmid {
  top: 50%;
  position: absolute;
  background-color: green;
  width: 25%;
  height: 25%;
  z-index: 1;
}

.box-bot {
  top: 75%;
  position: absolute;
  background-color: purple;
  width: 25%;
  height: 25%;
  z-index: 1;
}

.left-mid {
  left: 25%;
}

.right-mid {
  left: 50%;
}

.right {
  left: 75%;
} */

.box-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: white;
}

.box-top {
  z-index: 1;
}
